<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="img/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
    <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/css/util.css">
    <link rel="stylesheet" type="text/css" href="login/css/main.css">
    <!--===============================================================================================-->
    <link rel="icon" href="img/favicon.ico">
  </head>
  <body>

    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="https://i.postimg.cc/VspX4CTB/botanic.png" alt="IMG">
          </div>

          <form class="login100-form validate-form" method='post' action="/" autocomplete="off">
            <span class="login100-form-title">
              Please Login
            </span>

            <div class="wrap-input100 validate-input" data-validate = "Username harus diisi">
              <input class="input100" type="text" name="username" placeholder="Username">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-users" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Password harus diisi">
              <input class="input100" type="password" name="password" placeholder="Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Login
              </button>
            </div>

            <div class="text-center p-t-136">
              <a class="txt2" href="#">
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>




    <!--===============================================================================================-->	
    <script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="login/vendor/bootstrap/js/popper.js"></script>
    <script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="login/vendor/tilt/tilt.jquery.min.js"></script>
    <script >
            $('.js-tilt').tilt({
            scale: 1.1
            })
    </script>
    <!--===============================================================================================-->
    <script src="login/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>
      <% if (typeof msg != 'undefined') {
        if(msg.length !== 0) { %>
          <script>
            Swal.fire(
              'Waduh...',
              '<%= msg %>',
              'error'
            )
          </script>
        <% } 
      }%>
      
      <% if (typeof belumLogin != 'undefined') {
        if(belumLogin.length !== 0) { %>
          <script>
            Swal.fire(
              'Waduh...',
              '<%= belumLogin %>',
              'error'
            )
          </script>
        <% } 
      }%>

      <% if (typeof logout != 'undefined') {
        if(logout.length !== 0) { %>
          <script>
            Swal.fire(
              'Berhasil',
              '<%= logout %>',
              'success'
            )
          </script>
        <% } 
      }%>
  </body>
</html>
